<div id="Sidebar"></div>       
<form method="POST" action="/mystores/{{_id}}/myproducts">
    Product Name: <input type="text" name="name" required>
    Product Price: <input type="text" name="price" required>
    Add Product Image: <input type="file"/>
    <input type="hidden" name="storeid" value="{{_id}}">
    <input type="submit">
</form>