<head>
    <title>Musa Express</title>
    <link href="\css\base.css" rel="stylesheet">
</head>
<h1>Musa Express
</h1>
<div class= "user"><img class="user" src="\img\userdefault.jpg"> Keita</div>

<nav>
  <a  href="/mystores">My Stores</a>
  <a  href="/">Home</a>
</nav>

{{{body}}}