<head>
    <title>Musa Express</title>
    <link href="\css\base.css" rel="stylesheet">
</head>
<h1>Musa Express
</h1>
<div class= "user"></div class="user">Musa Keita</div>

<nav>
  <a  href="/books">Cart</a>
  <a  href="/favourites">Favourites</a>
</nav>

{{{body}}}