<head>
    <title>Musa Express</title>
    <link href="\css\base.css" rel="stylesheet">
</head>
<h1>Musa Express
  <div><img class="user" src ="\img\download.png"/></div>>User</div>
</h1>

<nav>
  <a  href="/books">Cart</a>
  <a  href="/favourites">Favourites</a>
</nav>

{{{body}}}