<div id="Sidebar"></div>
<form method="POST" action="/loggedin">
      <div>Password: <input type="text" name="password" required></div>
      <div>Email: <input type="text" name="email" required></div>
      <input type="Submit" value="login">
</form>