 <div id="mySidebar" class="sidebar">
  <a href="#" class="closebtn" onClick="$('#mySidebar').toggleClass('active');
  $('#main').toggleClass('active');">Musa Keita   <img class="user" src="\img\userdefault.jpg"></a>
  <p>
    <form method="POST" action="/register">
      <div>Username:<input type="text" name="name" required></div>  
      <div>Password: <input type="text" name="password" required></div>
      <div>Email: <input type="text" name="email" required></div>
      <input type="submit">
    </form>
  </p>
    <ul class="list-unstyled components">
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="#">Home 1</a>
                </li>
                <li>
                    <a href="#">Home 2</a>
                </li>
                <li>
                    <a href="#">Home 3</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Portfolio</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
</div>

<div class="container"> 

  <div class="sidenav">
  Categories
  <ul>
    <li>
      <a href="#">Countries</a>
      <ul>
        <li> Ghana</li>
        <li> Ghana</li>
        <li> Ghana</li>
        <li> Ghana</li>
      </ul>
    </li>

  </ul>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>


<div class="main">

  <div class="container">
  <div class="row">
    <div class="col">
      <img class="productsmall" src="\img\kora.jpg">
    </div>
    <div class="col">
      <img  class="productsmall" src="\img\mbira.jpg">
    </div>
    <div class="col">
      <img class="productsmall" src="\img\mankala.jpg">
    </div>
      <div class="col">
      <img  class="productsmall" src="\img\mbira.jpg">
    </div>
    <div class="col">
      <img class="productsmall" src="\img\kora.jpg">
    </div>
    <div class="col">
    <div class="col">
      <img class="productsmall" src="\img\mankala.jpg">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <img class="productsmall" src="\img\kora.jpg">
    </div>
    <div class="col">
      <img  class="productsmall" src="\img\mbira.jpg">
    </div>
    <div class="col">
      <img class="productsmall" src="\img\mankala.jpg">
    </div>
    <div class="col">
      <img  class="productsmall" src="\img\mbira.jpg">
    </div>
    <div class="col">
      <img class="productsmall" src="\img\kora.jpg">
    </div>
    <div class="col">
    <div class="col">
      <img class="productsmall" src="\img\mankala.jpg">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <img class="productsmall" src="\img\kora.jpg">
    </div>
    <div class="col">
      <img  class="productsmall" src="\img\mbira.jpg">
    </div>
    <div class="col">
      <img class="productsmall" src="\img\mankala.jpg">
    </div>
    <div class="col">
      <img  class="productsmall" src="\img\mbira.jpg">
    </div>
    <div class="col">
      <img class="productsmall" src="\img\kora.jpg">
    </div>
    <div class="col">
    <div class="col">
      <img class="productsmall" src="\img\mankala.jpg">
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col">
      <img class="productsmall" src="\img\kora.jpg">
    </div>
    <div class="col">
      <img  class="productsmall" src="\img\mbira.jpg">
    </div>
    <div class="col">
      <img class="productsmall" src="\img\mankala.jpg">
    </div>
    <div class="col">
      <img  class="productsmall" src="\img\mbira.jpg">
    </div>
    <div class="col">
      <img class="productsmall" src="\img\kora.jpg">
    </div>
    <div class="col">
    <div class="col">
      <img class="productsmall" src="\img\mankala.jpg">
    </div>
  </div>
</div>

</div>


</div>