<div id="sidebar">

</div>

<div id="productlist">

</div>

<script type="text/jsx">
    var ProductList = React.createClass({

        render : function(){
            console.log(this.props.products);
            const multipleproducts = this.props.products; 
            const elements = multipleproducts.map((num, i) => <div><Product product={num}/></div>
            );
            return ( <div>{elements}</div> );
        }


    })

     var Product = React.createClass({
        render : function(){

            return(

            <div className="container">
            <img src={this.props.product.imgsrc} alt="Avatar" className="product"/>
            <div className="overlay">
            <div>Product: {this.props.product.name}</div>
            <div>{this.props.product.pricecurrency}{this.props.product.price}</div>
            <form method="POST" action="/addcart">
              <input type="hidden" className="btn btn-primary" name="productid" value={this.props.product._id}/>
              <input type="submit" value="buy"/>
            </form>
            </div>
            </div>
                
            );
            
        }
    })
    var decodedJson = decodeURIComponent("{{{allproducts}}}");
    var data = JSON.parse(decodedJson);
    React.render(<ProductList products={data}/>, document.getElementById('productlist'));
        
</script>