<div id="Sidebar"></div>
<ul>
<div>{{Product.name}}</div>
<div>${{Product.price}}</div>
{{#each Product.properties}}
        <div>{{Product.properties}}</div>
{{/each}}
<div>{{Product.description}}</div>
</ul>