<ul id="productlist">     
</ul>

<script type="text/jsx">
    var ProductList = React.createClass({

        render : function(){
            console.log(this.props.products);
            const multipleproducts = this.props.products; 
            const elements = multipleproducts.map((num, i) => <div><Product product={num}/></div>
            );
            return ( <div>{elements}</div> );
        }


    })

    var Product = React.createClass({
        render : function(){

            return(

            <div className="container">
            <img src={this.props.product.imgsrc} alt="Avatar" className="product"/>
            <div className="overlay">
            <div>Product: {this.props.product.name}</div>
            <div>{this.props.product.pricecurrency}{this.props.product.price}</div>
            <form method="POST" action="/addcart">
              <input type="hidden" className="btn btn-primary" name="productid" value={this.props.product._id}/>
              <input type="submit" value="buy"/>
            </form>
            </div>
            </div>
                
            );
            
        }
    })
    var decodedJson = decodeURIComponent("{{{currStore2}}}");
    var data = JSON.parse(decodedJson);
    console.log("testttttttttts"+data);
    React.render(<ProductList products={data.items}/>, document.getElementById('productlist'));
        
</script>

<form method="POST" action="/mystores/{{currStore1.slug}}/myproducts" enctype="multipart/form-data">
    Product Name: <input type="text" name="name" required>
    Product Price: <input type="text" name="price" required>
    Add Image: <input type="file" name="avatar" accept="image/*" required>
    Description: <input type="text" name="description" required>
    <input type="hidden" name="storeid" value="{{currStore1._id}}">
    <input type="submit">
</form>