<div id="Sidebar"></div>       
{{#each currStore.products}}
    <ul>
        <li>Product Name: {{name}}:</li>
        <li>Product Price: {{price}}</li>
    <ul>
{{/each}}

<form method="POST" action="/mystores/{{currStore.slug}}/myproducts" enctype="multipart/form-data">
    Product Name: <input type="text" name="name" required>
    Product Price: <input type="text" name="price" required>
    Add Image: <input type="file" name="avatar" accept="image/*" required>
    Description: <input type="text" name="description" required>
    <input type="hidden" name="storeid" value="{{_id}}">
    <input type="submit">
</form>