    <form method="POST" action="/register">
        Username: <input type="text" name="name" required>
        Password: <input type="text" name="password" required>
        Email: <input type="text" name="email" required>
        <input type="submit">
    </form>