<form method="POST" action="/register">
      <div>Username: <input type="text" name="username" required></div>
      <div>Password: <input type="password" name="password" required></div>
      <div>Email: <input type="text" name="email" required></div>
      <input type="submit" value="Register">
</form>