<form method="POST" action="/addproducts">
        Name : <input type="text" name="username" required>
        Price: <input type="text" name="email" required>
        Description: <input type="text" name="password" required>
        <input type="submit">
</form>